<!DOCTYPE html>
<html oncontextmenu='return false' onkeydown='return false' onselectstart="return false">
  <head>
    <title>404</title>
    <link rel='stylesheet' href='../stylesheets/style404.css' />
    <link rel="shortcut icon" href="../stylesheets/favicon.ico">
    <meta charset="utf-8" />
  </head>
  <body oncontextmenu='return false' onkeydown='return false' onselectstart="return false">
  </body>
</html>
